.title {
  font-size: 3rem;
}

.tasks {
  & .task {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
  }

  & .taskCheckbox {
    flex: 0 0 10%;
    max-width: 10%;
    height: 2rem;
  }

  & .taskName {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 0 0.5rem;
    color: #383f50;
  }
  & .taskNameDone {
    color: #b2b2bb;
    text-decoration: line-through;
  }

  & .taskActions {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    justify-content: space-between;

    & .taskBtn {
      flex: 0 0 3.5rem;
      max-width: 3.5rem;
      font-size: 1.8rem;
    }
  }
}
